streamlit
langchain==0.1.12
langchain-community==0.0.28
langchain-core==0.1.31
langchain-google-genai==0.0.9
langchain-text-splitters==0.0.1
faiss-cpu
pymupdf
sentence-transformers
python-dotenv
streamlit-lottie
requests